* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#calculator {
    background-color: #0C1618;
    width: 400px;
    max-width: 400px;

}


#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    padding: 8px;
    }


#buttons button {
    background-color: #004643;
    color: #FAF4D3;
    font-size: 36px;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    border: none;


}